header {
  .navbar {
    display: flex;
    background-color: #FEE140;
    background-image: linear-gradient(270deg, #FEE140 0%, #FA709A 87%);

    cursor: pointer;
  }

  .navbar-brand img {
    width: 250px;
    height: 100px;
  }
}

/*header quien soy*/

.texto2,
.texto3,
.texto4,
.texto5,
.titulo {
  display: flex;
  background-color: #f08080;
}

.img8 {
  justify-content: center;
  position: relative;
  width: 250px;
  height: 100px;
}