@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: 'Dancing Script', cursive;
    font-size:large;
    /*font-style: italic;*/
}

/*MediaQuery*/
@mixin desktop {
    @media screen and (max-widht: 991px){
        @content;
        
    }
}

@mixin tablet {
    @media screen and (max-widht: 768px){
        @content;        
    }
}

@mixin mobile {
    @media screen  and (max-widht: 576px){
        @content;
    }
}